#canvasdiv{
	margin-top: 3em;
	width: 100vw;
}

#tryOutCanvas{
	background-color: gray;
	z-index: 0;
	position: absolute;
	width: 60%;
	height: 70%;
	top: 3em;
	left:20%;
}
#tryOutImg{
	z-index: 1;
	position: absolute;
	width: 60%;
	height: 70%;
	top: 3em;
	left:20%;
}
